<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Create a Team and Heroes! </title>
  </head>
  <body>
    <form action="/teams" method="post">
      Team Name: <input type="text" name="team[name]">
      Team Motto: <input type="text" name="team[motto]">
      Member Name: <input type="text" name="team[member][][name]" id="member1_name">
      Member Power: <input type="text" name="team[member][][power]" id="member1_power">
      Member Bio: <input type="text" name="team[member][][bio]" id="member1_bio">
      Member Name: <input type="text" name="team[member][][name]" id="member2_name">
      Member Power: <input type="text" name="team[member][][power]" id="member2_power">
      Member Bio: <input type="text" name="team[member][][bio]" id="member2_bio">
      Member Name: <input type="text" name="team[member][][name]" id="member3_name">
      Member Power: <input type="text" name="team[member][][power]" id="member3_power">
      Member Bio: <input type="text" name="team[member][][bio]" id="member3_bio">
      <input type="submit" value="submit">
    </form>
  </body>
</hmember
